.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f0e8;
    height: 18vh;;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    
  }
  
  .social-icons a {
    color: #000;
    margin-right: 1rem;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }

  .note-legali{
    font-size: 13px;
    text-decoration: none;
    color: black;
  }
  
