.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f0e8;
    min-height: 30vh;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    
  }
  
  .social-icons a {
    color: #000;
    margin-right: 1rem;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
